<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Arguments -->
  <arg name="nodelet_manager_name" default="kinect2f"/>
  <arg name="start_manager"     default="true"/>
  <!-- end argument list -->

  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager"
        if="$(arg start_manager)" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="kinect2_median_filter"
        args="load pses_kinect_utilities/median_filter $(arg nodelet_manager_name)" respawn="true" output="screen">
  </node>

</launch>
