<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Arguments -->
  <arg name="nodelet_manager_name" default="kinect2f"/>
  <arg name="start_manager"     default="true"/>
  <!-- end argument list -->

    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager"
        if="$(arg start_manager)" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="kinect2_median_filter"
        args="load pses_kinect_utilities/median_filter $(arg nodelet_manager_name)" respawn="true" output="screen">
    </node>

    <node pkg="nodelet" type="nodelet" name="kinect2_point_cloud_xyz"
    args="load pses_kinect_utilities/point_cloud_xyz $(arg nodelet_manager_name)" respawn="true" output="screen">
    </node> -->

    <node pkg="nodelet" type="nodelet" name="kinect2_voxel_grid_filter"
    args="load pses_kinect_utilities/voxel_grid_filter $(arg nodelet_manager_name)" respawn="true" output="screen">
    </node>

    <node pkg="tf" type="static_transform_publisher" name="tf_kinect_publisher" args="0 0 0 0 -1.570796 1.570796 kinect2_link base_link 100"/>
    <node pkg="nodelet" type="nodelet" name="pointcloud_to_laserscan" args="load pses_kinect_utilities/pointcloud_to_laserscan $(arg nodelet_manager_name)">
        <remap from="cloud_in" to="kinect_utilities/points_filtered"/>
        <remap from="scan" to="kinect_utilities/scan"/>
    <rosparam>
      target_frame: base_link
      transform_tolerance: 0.01
      min_height: 0.0
      max_height: 0.40
      angle_min: -0.6108652382
      angle_max: 0.6108652382
      angle_increment: 0.0087 # M_PI/360.0
      scan_time: 0.3333
      range_min: 0.55
      range_max: 12.0
      use_inf: true
      concurrency_level: 4
  </rosparam>
  </node>

</launch>
